
<center>
  <h1 class="centered">Welcome </h1>
<h2 class="centered2">Share your memory with us...</h2>
<%= link_to 'Sign up', users_new_path,{ :class => "btn btn-white centered3" } %>

</center>
<center>
  <h1 class="centered">Welcome </h1>
<h2 class="centered2">Share your memory with us...</h2>
<p> NJDNKSCSDN DCDJN KSJDNJSC SDCJSKDCNSJDNUEIEWIU283EU293EJDJBJCBDSCJSN</p>

</center>
