<div class="scroll">
  <div class="centered"class="container">
<center>
  <h1 >Welcome </h1>
<h2 >Share your memory with us...</h2>
<%= link_to 'Sign up', users_new_path,{ :class => "btn btn-white" } %>

</center>
</div>
</div>
